<!DOCTYPE HTML>
<html>
<style>
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
        padding-left: 5px;

    }
</style>
<head>
    <title>Employee list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h3>Add employees</h3>
    <form method="post">
        <input type="text" name="name" required placeholder="Employee name" />
        <input type="text" name="phone" required placeholder="Phone number" />
        <input type="text" name="workplace" placeholder="Workplace" />
        <button type="submit"><strong>Add</strong></button>
    </form>
</div>
<div>
    <h3>Filter employees</h3>
    <form method="post" action="find">
        <input type="text" name="name" placeholder="Find name" />
        <input type="text" name="phone" placeholder="Find number" />
        <input type="text" name="workplace" placeholder="Find workplace" />
        <button type="submit"><strong>Find</strong></button>
    </form>
</div>
<div>
    <h3>List of employees</h3>
</div>
<table style="width:100%">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Workplace</th>
    </tr>
{{#employees}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{phone}}</td>
        <td>{{workplace}}</td>
    </tr>
{{/employees}}
</table>
</body>
</html>