<!DOCTYPE HTML>
<html>
<style>
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
        padding-left: 5px;

    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #04AA6D;
    }
</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PhoneBook</title>
</head>
<body>
<ul>
    <li><a class="active" href="/main">Home</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/empcard">Edit</a></li>
    <li><a href="/greeting">Integration</a></li>
</ul>
<div>
    <h3>Add employees</h3>
    <form method="post">
        <input type="text" name="firstName" required placeholder="Enter name" maxlength="10"/>
        <input type="text" name="secondName" required placeholder="Enter name" maxlength="20"/>
        <select id="codes" name="code">
            {{#codes}}
                <option value={{code}}>{{code}}</option>
            {{/codes}}
        </select>
        <input type="tel" name="phone" required placeholder="ddd-dd-dd" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}"/>
        <input type="email" name="email" placeholder="email" pattern="[a-z0-9._%+-]{30}+@[a-z0-9.-]{7}+\.[a-z]{3}"/>
        <input type="text" name="workplace" placeholder="workplace" />
        <button type="submit"><strong>Add</strong></button>
    </form>
</div>
<div>
    <h3>List of employees</h3>
</div>
<table style="width:100%">
    <tr>
        <th>id</th>
        <th>Full name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Workplace</th>
    </tr>
{{#employees}}
    <tr>
        <td>{{id}}</td>
        <td><a href="/empcard/{{id}}">{{firstName}} {{secondName}}</a></td>
        <td>{{phone}}</td>
        <td>{{email}}</td>
        <td>{{workplace}}</td>
    </tr>
{{/employees}}
</table>
</body>
</html>